.App {
  margin: 3%;
  margin-top: 20px;
}

.cell {
  height: 20px !important;
  max-height: 20px !important;
}

.MuiCardContent-root {
  padding: 0px !important;
}

.MuiTypography-gutterBottom {
  margin-bottom: 0px !important;
}

.selected {
  background-color: lightgray;
  font-weight: bolder !important;
}

.timeCard {
  font-size: 12px !important;
}
